@namespace html url('http://www.w3.org/1999/xhtml');
@namespace xul url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

:host,
:root:not(html.private) {
  --in-content-background-color: var(--black-fox-content) !important;
  --in-content-button-background-active: var(--black-fox-button-background-active) !important;
  --in-content-button-background-hover: var(--black-fox-button-background-hover) !important;
  --in-content-button-background: var(--black-fox-button-background) !important;
  --in-content-page-background: var(--black-fox-content) !important;
}

dialog[inbrowserwindow],
dialog[subdialog],
.container.infobar {
  background-color: var(--black-fox-subdialog) !important;
}

#sanitizeEverythingWarningBox {
  background-color: var(--black-fox-warning-box) !important;
}

.infobar {
  --info-bar-background-color: var(--black-fox-infobar) !important;
}

#customization-content-container,
#customization-footer {
  background-color: var(--black-fox-content) !important;
}

#customization-footer {
  border-top: 1px solid var(--black-fox-subdialog) !important;
}

toolbarpaletteitem[place='palette'] {
  width: 10em !important;
  max-width: 14em !important;
  padding: 0 10px !important;
  border-radius: 4px !important;
  background-color: var(--black-fox-content-box) !important;
}

toolbarpaletteitem[place='palette']:hover {
  background-color: var(--black-fox-button-background-hover) !important;
}
