@namespace html url('http://www.w3.org/1999/xhtml');
@namespace xul url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

@-moz-document url-prefix("about:"), url-prefix("chrome://")
{
  :host,
  :root:not(html.private),
  window {
    /* FF 143 */
    --background-color-canvas: var(--black-fox-content) !important;
    /* ******** */
    --background-color-box: var(--black-fox-content-box) !important;
    --box-background: var(--black-fox-content-box) !important;
    --button-active-background-color: var(--in-content-button-background-active) !important;
    --button-background-color: var(--in-content-button-background) !important;
    --button-hover-background-color: var(--in-content-button-background-hover) !important;
    --card-background-color: var(--black-fox-content-box) !important;
    --card-border-color: var(--black-fox-border-color) !important;
    --dark-theme-background: var(--black-fox-content) !important;
    --fxview-background-color-secondary: var(--black-fox-content-box) !important;
    --fxview-text-primary-color: rgb(251, 251, 254) !important;
    --in-content-background-color: var(--black-fox-content) !important;
    --in-content-box-background: var(--black-fox-content-box) !important;
    --in-content-box-border-color: var(--black-fox-border-color) !important;
    --in-content-button-background-active: var(--black-fox-button-background-active) !important;
    --in-content-button-background-hover: var(--black-fox-button-background-hover) !important;
    --in-content-button-background: var(--black-fox-button-background) !important;
    --in-content-page-background: var(--black-fox-content) !important;
    --in-content-table-background: var(--black-fox-infobar) !important;
    --newtab-background-color-secondary: var(--black-fox-infobar) !important;
    --sidebar-background-hover: var(--in-content-button-background-hover) !important;
    --theme-body-background: var(--black-fox-viewsource) !important;
  }

  :root:has(h1[data-l10n-id='safeb-blocked-phishing-page-title']) {
    --in-content-button-background-active: rgb(66, 13, 9) !important;
    --in-content-button-background-hover: rgb(102, 0, 0) !important;
    --in-content-button-background: transparent !important;
    --in-content-page-background: rgb(178, 34, 34) !important;
    --in-content-page-color: white !important;
    --in-content-primary-button-background-active: rgba(255, 255, 255, 0.7) !important;
    --in-content-primary-button-background-hover: rgba(255, 255, 255, 0.8) !important;
    --in-content-primary-button-background: white !important;
    --in-content-primary-button-text-color: black !important;
    --in-content-text-color: white !important;
  }

  body.dark {
    --popup-background: var(--black-fox-infobar) !important;
    --popup-button-background: var(--black-fox-content-box) !important;
    --toolbar-button-background-active: var(--in-content-button-background-active) !important;
    --toolbar-button-background-hover: var(--in-content-button-background-hover) !important;
  }

  dialog,
  .dialogBox {
    background-color: var(--black-fox-dialog) !important;
  }

  html|dialog::backdrop,
  .dialogOverlay[topmost='true'] {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  #sanitizeEverythingWarningBox {
    background-color: var(--black-fox-warning-box) !important;
  }

  .search-container input {
    background-color: var(--black-fox-content-box) !important;
  }
}

@-moz-document url-prefix("about:") {
  :host,
  :root,
  window {
    --table-row-background-color-alternate: var(--black-fox-content) !important;
  }

  #input {
    --input-text-background-color: var(--black-fox-content-box) !important;
  }

  #prefs > tr {
    background-color: var(--black-fox-content) !important;
  }

  #prefs > tr.odd {
    background-color: var(--black-fox-content-box) !important;
  }

  table:not(#process-table),
  tbody:not(#process-tbody) th,
  tbody:not(#process-tbody) td {
    border: none !important;
  }

  tbody:not(#process-tbody) th,
  tbody:not(#process-tbody) td {
    padding: 5px 8px !important;
  }

  #process-table,
  #process-thead {
    background-color: var(--in-content-page-background) !important;
  }

  .container[role='dialog'] {
    background: var(--black-fox-dialog) !important;
  }

  .top-site-outer .tile {
    background-color: rgb(45, 45, 45) !important;
  }
}

@-moz-document url-prefix("about:sync-log") {
  body {
    background-color: var(--black-fox-content-box) !important;
  }
}

@-moz-document url-prefix("about:checkerboard") {
  body {
    background-color: var(--in-content-page-background) !important;
  }
}

@-moz-document plain-text-document(), url-prefix("view-source") {
  html {
    background-color: var(--black-fox-viewsource) !important;
  }
}
