@namespace html url('http://www.w3.org/1999/xhtml');
@namespace xul url('http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul');

/* EXTENSION: SingleFile
   ============================= */

@-moz-document url-prefix("moz-extension://")
{
  main:has(#expandAllButton),
  main:has(#expandAllButton) details > summary {
    background-color: var(--night-shadow-content-box) !important;
  }
}
